/* Nav Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
nav{
    display:flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title
{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
     
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 51px;
}
/* Shared Styles */
.second-bg{
    background-color: #FFF8F3;
    
}
.new-font{
    font-family: "Open Sans", sans-serif;;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    border:none;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color:while;
    padding: 18px 35px;
    border-radius: 5px;
}
header{
    background-image:url('../images/developer.png'), url( '../images/header_bg.png');
    background-repeat: no-repeat;
    /* margin: 45px 0 0 32px; */
    background-position: top left, bottom right;
}
.section-tile{
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #181818;
    
}
.section-description{
    color: #757575;
    font-size: 18px;
    
}
.text-center{
    text-align: center;
}
/* Banner */

.banner-greetings{
    font-size:45px ;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-dp{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
   margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}

/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin: 130px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* items */
.item-description{
    font-weight: bold;
    color:#474747;
}
.item-title{
    color:#757575;
}
/* skill item */
.skill-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap:24px;
    margin-top: 50px;
   
}
.skill{
    background-color: #FFFFFF;
    padding:30px;
   box-shadow: 0 6px 50px 0 rgb(233, 233, 233);
   border-radius: 5px;
}
.resume-container{
    display:flex;
    gap:26px;
    font-family: "Open Sans", sans-serif;

}
.experience-title{
    color:#474747;
    font-size: 25px;
    font-weight: bold;
}
.experience-sub-title, .experience-description{
    color:#757575;
    
}
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 130px;
    margin-bottom: 113px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.resume-column-title{
  font-size:30px;
  font-weight: bold;
}
.download-button{
    margin-top: 50px;
}
.skill-description{
    color:#757575;
}
/* Footer-style */

footer{
padding: 130px 230px;
display: flex;
gap:100px;
}
.secondary-bg{
    background-color:#FFF8F3;
    margin-top: 113px;
}
.footer-column{
    width:50%;
}

 input
{
    background-color: white;
    height: 64px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    padding: 10px 20px;
    border:none;

}

.re{
    display: block;
    margin-top: 24px;
    height: 64px;
    width: 150px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border:none;
}